---
import '@fontsource-variable/josefin-sans';

import Particles from 'astro-particles';
import type { ISourceOptions } from 'tsparticles-engine';

import Footer from './Footer.astro';
import Header from './Header.astro';

import particleJSOptions from '../config/particlesjs.json';
import '../styles/main.scss';

interface Props {
  title?: string;
  includeHeader?: boolean;
}

const { title = 'DS3', includeHeader = true } = Astro.props;

const description =
  'We are a group of like-minded individuals at the University of Toronto driving impact in the fields of data science, statistics, and machine learning';
const ogImage = '/OG_DS3.png';
---

<html lang="en">
  <head>
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />

    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta charset="utf-8" />

    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://dev.ds3utsc.com/"
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:title"
      content={title}
    />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:image"
      content={ogImage}
    />
    <meta
      property="og:site_name"
      content="Data Science & Statistics Society"
    />

    <!-- Twitter Meta Tags -->
    <meta
      name="twitter:card"
      content={ogImage}
    />
    <meta
      property="twitter:domain"
      content="ds3utsc.com"
    />
    <meta
      property="twitter:url"
      content="https://ds3utsc.com/"
    />
    <meta
      name="twitter:title"
      content={title}
    />
    <meta
      name="twitter:description"
      content={description}
    />
    <meta
      name="twitter:image"
      content={ogImage}
    />

    <title>{title}</title>
  </head>
  <body>
    {includeHeader && <Header />}
    <main>
      <slot />
    </main>
    <Footer />
    <Particles
      id="tsparticles"
      options={particleJSOptions as ISourceOptions}
      init="particlesInit"
    />
  </body>

  <script
    src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
  ></script>

  <script>
    import type { Engine } from 'tsparticles-engine';
    import { loadFull } from 'tsparticles';

    declare global {
      interface Window {
        particlesInit: (engine: Engine) => Promise<void>;
      }
    }

    // the function name is the parameter passed to the init attribute
    // required
    // add the function to window is mandatory, it will be searched there
    window.particlesInit = async function (engine: Engine) {
      await loadFull(engine);
    };
  </script>
</html>
