---
import type { ImageMetadata } from 'astro';
import Icon from 'astro-icon';
import { Image } from 'astro:assets';

import type { Sponsor } from './config';

import '../../styles/components/SponsorCard.scss';

interface Props extends Sponsor {}

const { id, logo, text, author, position } = Astro.props;
---

<div
  id={id}
  class="sponsor">
  {
    logo && (
      <div class="logo">
        {typeof logo.src === 'string' ? (
          <Icon name={logo.src} />
        ) : (
          <Image
            src={logo.src as ImageMetadata}
            alt={logo.alt as string}
            format="avif"
            quality="mid"
          />
        )}
      </div>
    )
  }
  <p class="message">"{text}"</p>
  <div>
    <p class="author">{author}</p>
    <p class="position">{position}</p>
  </div>
</div>
